:root.theme-light {
    --background-color: #fff;
    --accent-color: #000;
    --header-font-weight: 700;
    --regular-font-weight: 400;
    --main-font: 'Inter-Variable';
    --secondary-font: 'PressStart2P-Regular';
    --text-stroke: 2px rgba(255, 255, 255, 0.5);
    --heart-contour-color: black;
    --heart-sparks-color: #FF0000;
    --button-color: #fff;

  --background-patterns:
   
    repeating-linear-gradient(
      to right, 
      #d3d3d3, 
      #d3d3d3 2px, 
      transparent 2px, 
      transparent 4px 
  ),
  
  repeating-linear-gradient(
      to bottom, 
      #d3d3d3, 
      #d3d3d3 2px, 
      transparent 2px, 
      transparent 4px 
  ),
   
   linear-gradient(
    to bottom, 
    #e7e7e7 0.01%, 
    #1a1a1a 100% 
);
}

:root.theme-dark {
    --background-color: #000;
    --accent-color: #00CC14;
    --header-font-weight: 785;
    --regular-font-weight: 465;
    --button-color: #00CC14;
    --text-stroke: 2px rgba(0, 0, 0, 0.1);
    --heart-contour-color: #00CC14;

    --background-patterns: 
    
    repeating-linear-gradient(
        to right, 
        #000, 
        #000 2px, 
        transparent 2px, 
        transparent 4px 
    ),
    
    repeating-linear-gradient(
        to bottom, 
        #000, 
        #000 2px, 
        transparent 2px, 
        transparent 4px 
    ),
     
     linear-gradient(
        to bottom, 
        #007f0c 0.01%, 
        #004306 100% 
    );;
}

@media (prefers-color-scheme: dark) {
    :root {
    --background-color: #000;
    --accent-color: #00CC14;
    --header-font-weight: 785;
    --regular-font-weight: 465;
    --button-color: #00CC14;
    --text-stroke: 2px rgba(0, 0, 0, 0.1);
    --heart-contour-color: #00CC14;

    --background-patterns: 
    
    repeating-linear-gradient(
        to right, 
        #000, 
        #000 2px, 
        transparent 2px, 
        transparent 4px 
    ),
    
    repeating-linear-gradient(
        to bottom, 
        #000, 
        #000 2px, 
        transparent 2px, 
        transparent 4px 
    ),
    
     linear-gradient(
        to bottom, 
        #007f0c 0.01%, 
        #004306 100% 
    );;
    }
}