/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --background-color: #fff;
    --accent-color: #000;
    --header-font-weight: 700;
    --regular-font-weight: 400;
    --main-font: 'Inter-Variable', Arial, Helvetica, sans-serif;
    --secondary-font: 'PressStart2P',  Arial, Helvetica, sans-serif;
    --text-stroke: white;
    --heart-contour-color: black;
    --heart-sparks-color: #FF0000;
    --button-color: #fff;
    --button-hover-color: #000;
    --hover-and-focus-bg-color: #000;
  --background-patterns:
    
    repeating-linear-gradient(
      to right, 
      #d3d3d3, 
      #d3d3d3 2px, 
      transparent 2px, 
      transparent 4px 
  ),
  
  repeating-linear-gradient(
      to bottom, 
      #d3d3d3, 
      #d3d3d3 2px, 
      transparent 2px, 
      transparent 4px 
  ),
   
   linear-gradient(
    to bottom, 
    #e7e7e7 0.01%, 
    #1a1a1a 100% 
);

  
  
}